@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}


html, body, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: block; /* Remove flex if it's causing issues */
}

.dark {
  background-color: #f0f2f5; /* Match your dark mode color */
}